@model ProductViewModel
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
<h3 class="m-4 text-center">Ürün Ekle</h3>

<div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-sm-2">
        <form asp-controller="Admin" asp-action="CreateProduct" method="post">
            <div class="form-group-row">
                <label asp-for="ProductName" class="col-md-2 col-form-label">Ürün Adı</label>
                <div class="col-md-10">
                    <input asp-for="ProductName" class="form-control" />
                </div>
            </div>
            <div class="form-group-row">
                <label asp-for="ImageURL" class="col-md-2 col-form-label">Ürün Resmi</label>
                <div class="col-md-10">
                    <input asp-for="ImageURL" class="form-control" />
                </div>
            </div>
            <div class="form-group-row">
                <label asp-for="ProductDescription" class="col-md-2 col-form-label">Ürün Açıklaması</label>
                <div class="col-md-10">
                    <textarea asp-for="ProductDescription" class="form-control" id="editor"></textarea>
                </div>
            </div>
            <div class="form-group-row">
                <label asp-for="ProductPrice" class="col-md-2 col-form-label">Satış Fiyatı</label>
                <div class="col-md-10">
                    <input asp-for="ProductPrice" class="form-control" />
                </div>
            </div>
            <div class="form-group-row ">
                <div class="col-md-10 mt-3">
                    <button class="btn btn-secondary active" type="submit" value="Save Product">Kaydet</button>
                    <a asp-controller="Admin" asp-action="CreateProduct" class="btn btn-secondary active ms-2">Sıfırla</a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>