@model CategoryListViewModel


<ul class="filter-lists list-unstyled mb-0">
    @foreach (var category in Model.Categories)
    {
        <li class="filter-item">
            <label class="filter-label">
                <a asp-controller="Shop" asp-action="List" asp-route-category="@category.CategoryName.ToLower()" class="filter-text text-dark">@category.CategoryName</a>
            </label>
        </li>
    }
</ul>