
@{
    ViewData["Title"] = "DiscountedProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5 class="fw-light text-center my-5">İndirimli ürünlerimiz çok yakında listelenecektir.</h5>
<div class="text-center">
    <a asp-controller="Shop" asp-action="List" class="position-relative btn-secondary text-uppercase">
       Diğer Ürünlere Göz Atın
    </a>
</div>

